<div title="Find jobs">
  <div class="padding">
  
  <div class="list">
	 
    <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="e.g. Web Developer, Graphic Designer" ng-model="item.name">
    </label>

	   <label class="item item-input item-select">
      <div class="input-label">
        Location
      </div>
      <select ng-model="item.selectedArea">
      	<option selected></option>
        <option ng-repeat="area in areas">{{area.name}}</option>
      </select>
    </label>
   
    <label class="item item-input item-select">
      <div class="input-label">
        Job Type
      </div>
      <select ng-model="item.selectedCategory">
        <option selected></option>
        <option ng-repeat="category in categories">{{category.name}}</option>
      </select>
    </label>
  

  </div>

	<div class="row" style="margin-bottom:20px;">
		<div class="col col-33 col-offset-33">
			<button style="width:100%" class="button button-energized" ng-click="submit()"> Find it! </button>
		</div>
	</div>

	<div class="row" ng-show="load" style="text-align:center;">
		<div class="col col-33 col-offset-33">
			<li class="ion-loading-c" data-pack="default" data-tags="spinner, waiting, refresh, animation" data-animation="true"></li>
		</div>
	</div>

<div >
	<ul class="list-group list-group-lg no-radius">

    <ion-item ng-show="visible"> {{items.length+' Offers' || 'No Offer' }} </ion-item>
    <li class="list-group-item media clearfix" ng-repeat="object in items">
      <a class="pull-left list-item" href="#/jobs/view/{{object.id}}">
        <img class="media-object" style="max-height:90px;" ng-src="{{object.hiringCompanyLogo}}">
      </a>
      <div class="media-body" ng-click="goTo('/jobs/view/' + object.id)">
        <div>
        <h3><a class="text-md" href="#/jobs/view/{{object.id}}">{{object.jobTitle}}</a><span ng-show="{{object.salaryMin}}" class="badge pull-right bg-light">{{salary(object)}}</span></h3>
        </div>
        <p class="text-2-l">at {{object.hiringCompany}} <small>Listed <span am-time-ago="object.dateCreated"></span></small><div class="bagde">{{badgeCat(object)}}</div></p>
      </div>
    </li>
	</ul>

</div>
  </div>
</div>
