<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="VGBots Jobs"><br>
    Ready to Find Technology and Creative Media Talent?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/jobs/">Start Here!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <div class="col-md-4 col-xs-12">
    <h4>Find a Job</h4>
  <p>
    VGBots advertises full time, part time and casual employment opportunities from all over the world. We believe finding a job should be easy, so there's no need to sign up and no fees for applicants.
  </p>
  </div>
  <div class="col-md-4 col-xs-12">
  <h4>Post a Job</h4>
  <p>
    Posting a job is a fantastic, simple way to reach talented web and creative professionals — and until further notice — it's entirely free!
  </p>
  </div>
  <div class="col-md-4 col-xs-12">
  <h4>Questions and Feedback</h4>
  <p>Need some help getting your job posted or just have questions? Email us at <a href="mailto:devlesedi@gmail.com">devlesedi@gmail.com</a> and we'll get right back to you!</p>
  </div>
</div>
